<section class="content-margin versioning">
    <div data-bind="visible: isForbidden" class="text-center">
        <h4 class="page-header text-info">You are not authorized to view this page!</h4>
    </div>

    <div data-bind="visible: backupSetup().unsupported()">
        <div class="alert alert-danger">Too many periodic export types found. This isn't a supported scenario for the UI.</div>
    </div>

    <div data-bind="visible: !backupSetup().unsupported() && !isForbidden()">
        <form class="form-horizontal save-periodic-backup-form" role="form" data-bind="submit: saveChanges">
            <div class="margin-bottom">
                <button type="submit" class="btn btn-primary" title="Save Changes" data-bind="enable: isSaveEnabled, css: { 'btn-spinner': spinners.save() }">
                    <i class="icon-save"></i> <span>Save</span>
                </button>
            </div>
            
        <div class="panel panel-default" data-bind="with: backupSetup">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="toggle">
                            <input id="enbale-periodic-export" class="styled" type="checkbox" data-bind="checked: active">
                            <label for="enbale-periodic-export">
                                Enable
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <span class="input-group-addon">Incremental Interval</span>
                            <input type="number" class="form-control" placeholder="0" data-bind="enable: active, numericValue: incrementalExportInterval, valueUpdate: 'afterkeydown'">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline" data-bind="checked: incrementalExportIntervalUnit, enable: active">
                            <label for="inlineRadio1">Minutes</label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio2" value="option2" name="radioInline" data-bind="checked: incrementalExportIntervalUnit, enable: active">
                            <label for="inlineRadio2">Hours</label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio3" value="option3" name="radioInline" data-bind="checked: incrementalExportIntervalUnit, enable: active">
                            <label for="inlineRadio3">Days</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="input-group">
                            <span class="input-group-addon">Incremental Interval</span>
                            <input type="number" class="form-control" placeholder="0" data-bind="enable: active, numericValue: fullExportInterval, valueUpdate: 'afterkeydown'">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio4" value="option1" name="radioInline" data-bind="checked: fullExportIntervalUnit, enable: active">
                            <label for="inlineRadio4">Minutes</label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio5" value="option2" name="radioInline" data-bind="checked: fullExportIntervalUnit, enable: active">
                            <label for="inlineRadio5">Hours</label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio6" value="option3" name="radioInline" data-bind="checked: fullExportIntervalUnit, enable: active">
                            <label for="inlineRadio6">Days</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="panel panel-info" data-bind="with: backupSetup">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="toggle">
                            <input id="enbale-disk-export" class="styled" type="checkbox" data-bind="checked: onDiskExportEnabled">
                            <label for="enbale-disk-export">
                                Local Export
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <span class="input-group-addon">Incremental Interval</span>
                            <input type="number" class="form-control" placeholder="0" data-bind="enable: onDiskExportEnabled, numericValue: incrementalExportInterval, valueUpdate: 'afterkeydown'">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline" data-bind="checked: incrementalExportIntervalUnit, enable: onDiskExportEnabled">
                            <label for="inlineRadio1">Minutes</label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio2" value="option2" name="radioInline" data-bind="checked: incrementalExportIntervalUnit, enable: onDiskExportEnabled">
                            <label for="inlineRadio2">Hours</label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio3" value="option3" name="radioInline" data-bind="checked: incrementalExportIntervalUnit, enable: onDiskExportEnabled">
                            <label for="inlineRadio3">Days</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="input-group">
                            <span class="input-group-addon">Incremental Interval</span>
                            <input type="number" class="form-control" placeholder="0" data-bind="enable: onDiskExportEnabled, numericValue: fullExportInterval, valueUpdate: 'afterkeydown'">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline" data-bind="checked: fullExportIntervalUnit, enable: onDiskExportEnabled">
                            <label for="inlineRadio1">Minutes</label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio2" value="option2" name="radioInline" data-bind="checked: fullExportIntervalUnit, enable: onDiskExportEnabled">
                            <label for="inlineRadio2">Hours</label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="inlineRadio3" value="option3" name="radioInline" data-bind="checked: fullExportIntervalUnit, enable: onDiskExportEnabled">
                            <label for="inlineRadio3">Days</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
            
        <!--<div class="form-group">
            <label for="incrementalExportInterval" class="col-sm-4 control-label">Incremental Export Interval:</label>
            <div class="col-sm-1">
                <input id="incrementalBackupInterval" required type="number" class="form-control" min="0" data-bind="numericValue: incrementalExportInterval" />
            </div>
            <div class="col-sm-3">
                <select class="form-control" data-bind="options: availableIntervalUnits, value: incrementalExportIntervalUnit"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="fullExportInterval" class="col-sm-4 control-label">Full Export Interval:</label>
            <div class="col-sm-1">
                <input id="fullBackupInterval" required type="number" class="form-control" min="0" data-bind="numericValue: fullExportInterval" />
            </div>
            <div class="col-sm-3">
                <select class="form-control" data-bind="options: availableIntervalUnits, value: fullExportIntervalUnit"></select>
            </div>
        </div>-->
            

        <!--<div class="panel panel-default">
                $1$<div class="panel-heading">
                    <button type="submit" class="btn btn-primary" title="Save Changes(Alt+S)" data-bind="enable: $root.isSaveEnabled()" accesskey="S"><i class="icon-save"></i></button>
                </div>#1#
                <div class="panel-body">
                    <div class="enable-periodic-export">
                        <div class="toggle">
                            <input id="toggle1" type="checkbox" data-bind="checked: active">
                            <label for="toggle1">
                                Enable
                            </label>
                        </div>
                    </div>
                        

                        $1$<label for="disabled" class="col-sm-4 control-label">Enabled:</label>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span data-bind="visible: active()">Yes</span>
                                    <span data-bind="visible: !active()">No</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" data-bind="click: active.bind(active, true)">Yes</a></li>
                                    <li><a href="#" data-bind="click: active.bind(active, false)">No</a></li>
                                </ul>
                            </div>
                            $2$<p class="text-info" data-bind="visible: $root.exportDisabled">
                                <small><i class="icon-info"></i></small> Periodic Export is currently deactivated.
                            </p>#2#
                        </div>#1#

                    <div id="periodicExportContainer">
                        <div class="form-group">
                            <label for="onDiskExport" class="col-sm-4 control-label">On disk export:</label>
                            <div class="col-sm-4">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span data-bind="visible: onDiskExportEnabled">Yes</span>
                                        <span data-bind="visible: !onDiskExportEnabled()">No</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" data-bind="click: onDiskExportEnabled.bind(onDiskExportEnabled, true)">Yes</a></li>
                                        <li><a href="#" data-bind="click: onDiskExportEnabled.bind(onDiskExportEnabled, false)">No</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" data-bind="if: $root.showOnDiskExportRow()">
                            <label for="onDiskLocation" class="col-sm-4 control-label">File System Folder:</label>
                            <div class="col-sm-4" >
                                <div data-bind="visible: onDiskExportEnabled">
                                    <input type="text" id="onDiskLocation" placeholder="full path" required class="form-control" data-bind="value: localFolderName" />    
                                </div>
                            </div>
                        </div>
                        $1$ TODO: add support for remote upload #1#
                        <div class="form-group">
                            <label for="serverUpload" class="col-sm-4 control-label">Upload to remote server:</label>
                            <div class="col-sm-4">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bind="enable: false"> 
                                        <span data-bind="visible: remoteUploadEnabled">Yes</span>
                                        <span data-bind="visible: !remoteUploadEnabled()">No</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" data-bind="click: remoteUploadEnabled.bind(remoteUploadEnabled, true)">Yes</a></li>
                                        <li><a href="#" data-bind="click: remoteUploadEnabled.bind(remoteUploadEnabled, false)">No</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" data-bind="if: remoteUploadEnabled, visible: remoteUploadEnabled">
                            <div class="col-sm-4">
                                <select class="form-control" data-bind="options: availablePeriodicExports, optionsText: 'label', optionsValue: 'value', value: type"></select>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" required class="form-control" data-bind="validationElement: mainValue, attr: { placeholder: mainPlaceholder }"/>
                                <div data-bind="visible: isGlaceirVault">
                                    <a target="_blank" href="http://docs.aws.amazon.com/amazonglacier/latest/dev/creating-vaults.html">Vault Name Restrictions and Limitations</a>
                                </div>
                                <div data-bind="visible: isS3Bucket">
                                    <a target="_blank" href="http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html">Bucket Name Restrictions and Limitations</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-bind="if: isS3Bucket, visible: isS3Bucket">
                            <label for="awsRemoteFolder" class="col-sm-4 control-label">Folder name:</label>
                            <div class="col-sm-4">
                                <input id="awsRemoteFolder" type="text" placeholder="Remote folder name" class="form-control" data-bind="value: s3RemoteFolderName" />
                            </div>
                        </div>
                        <div class="form-group" data-bind="if: additionalAwsInfoRequired, visible: additionalAwsInfoRequired">
                            <label for="awsAccessKey" class="col-sm-4 control-label">AWS Access Key:</label>
                            <div class="col-sm-4">
                                <input required id="awsAccessKey" type="text" class="form-control" data-bind="value: awsAccessKey"/>
                            </div>
                        </div>
                        <div class="form-group" data-bind="if: additionalAwsInfoRequired, visible: additionalAwsInfoRequired">
                            <label for="awsSecretKey" class="col-sm-4 control-label">AWS Secret Key:</label>
                            <div class="col-sm-3">
                                <input required id="awsSecretKey" type="password" autocomplete="off" class="form-control" data-bind="value: awsSecretKey"/>
                            </div>
                            <div class="col-sm-1 control-label" style="text-align: left" data-bind="if: awsSecretKeyDecryptionFailed">
                                <span id="awsDecryptFailureSpan" class="help-cursor" data-placement="auto right" data-original-title="Why this input is empty?" data-trigger="hover">
                                    <i class="fa fa-warning text-info"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" data-bind="if: additionalAwsInfoRequired, visible: additionalAwsInfoRequired">
                            <label for="awsRegionEndpoint" class="col-sm-4 control-label">AWS Region Endpoint:</label>
                            <div class="col-sm-4">
                                <select required id="awsRegionEndpoint" class="form-control" data-bind="options: availableAwsRegionEndpoints, optionsText: 'label', optionsValue: 'value', optionsCaption: '', value: awsRegionEndpoint"></select>
                            </div>
                        </div>
                        <div data-bind="if: additionalAzureInfoRequired">
                            <div class="form-group">
                                <label for="remoteFolder" class="col-sm-4 control-label">Folder name:</label>
                                <div class="col-sm-4">
                                    <input id="remoteFolder" type="text" placeholder="Remote folder name" class="form-control" data-bind="value: azureRemoteFolderName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="azureStorageAccount" class="col-sm-4 control-label">Azure Storage Account:</label>
                                <div class="col-sm-4">
                                    <input required id="azureStorageAccount" type="text" class="form-control" data-bind="value: azureStorageAccount"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="azureStorageKey" class="col-sm-4 control-label">Azure Storage Key:</label>
                                <div class="col-sm-3">
                                    <input required id="azureStorageKey" type="password" autocomplete="off" class="form-control" data-bind="value: azureStorageKey"/>
                                </div>
                                <div class="col-sm-1 control-label" style="text-align: left" data-bind="if: azureStorageKeyDecryptionFailed">
                                    <span id="azureDecryptFailureSpan" class="help-cursor" data-placement="auto right" data-original-title="Why this input is empty?" data-trigger="hover">
                                        <i class="fa fa-warning text-info"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>-->
        </form>
    </div>
</section>
